@using HotelManager.Models.Room
@model IEnumerable<RoomViewModel>

@{
    ViewData["Title"] = "All Rooms";
}

<div>
    @if (!Model.Any())
    {
        <hr class="bg-info cm-hr" />
        <div class="text-secondary font-size-30 text-center mt-4">There are no rooms in the system!</div>
        <hr class="bg-info cm-hr" />
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th class="col-md-2">Capacity</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-2">Price per adult</th>
                    <th class="col-md-2">Price per kid</th>
                    <th class="col-md-2">Rooom number</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="col-md-2">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                <tr class="row">
                    <td class="col-md-2">@room.Capacity</td>
                    <td class="col-md-2">@room.RoomType</td>
                    <td class="col-md-2">@room.PricePerAdult</td>
                    <td class="col-md-2">@room.PricePerKid</td>
                    <td class="col-md-2">@room.RoomNumber</td>

                    @if (User.IsInRole("Admin"))
                    {
                        <td class="col-md-2">
                            <a class="btn btn-outline-primary mx-2"
                               asp-controller="Room"
                               asp-action="Edit"
                               asp-route-id="@room.Id">
                                Edit
                            </a>
                            <a class="btn btn-outline-danger"
                               asp-controller="Room"
                               asp-action="Delete"
                               asp-route-id="@room.Id">
                                Delete
                            </a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
</div>

